SCRAPY_PROJECT_ID=malicious_file_crawler
SCRAPE_SITES=VIRUSSHARE,DASMAL,TEKDEF,ZOO,MALSHARE

MINIO_URL=Please enter minio url
MINIO_ACCESS_KEY=Please enter minio access key
MINIO_SECRET_KEY=Please enter minio secret key

MALSHARE_API_KEY==Please enter malshare api key
VIRUSSHARE_API_KEY=Please enter virushshare api key

storage_adapter_url=http://storage-adapter:5002/
SCRAPY_PROJECT_ID=malicious_file_crawler
SCRAPE_SITES=TEKDEF
MALSHARE_API_KEY=
VIRUSSHARE_API_KEY=
storage_adapter_url=http://storage-adapter:5002/

scrapyd_endpoint=http://scrapyd:6800/

ADDONS_AWS_ACCESS_KEY_ID=

ADDONS_AWS_SECRET_ACCESS_KEY=

ADDONS_AWS_USERNAME=gw_crawler

ADDONS_S3_BUCKET=


